In [ ]:
x_1 = "tasty"  # global variable

def pizza_function():
    x_2 = "mouthwatering"  # local variable
    print("Pizza is", x_1, x_2)

pizza_function()

Pizza is tasty mouthwatering

In [ ]:
def add_numbers(a, b):
    """Adds two numbers, considering each as either integer type or float type.

    Args:
        a (int or float): The first number to add.
        b (int or float): The second number to add.

    Returns:
        int or float: The sum of the two numbers.
    """

    if isinstance(a, int) and isinstance(b, int):
        return a + b
    elif isinstance(a, float) and isinstance(b, float):
        return a + b
    else:
        print("Wrong entry")
        return None

if __name__ == "__main__":
    a = input("Enter first number: ")
    b = input("Enter second number: ")

    try:
        a = int(a)
        b = int(b)
    except ValueError:
        try:
            a = float(a)
            b = float(b)
        except ValueError:
            print("Wrong entry")
            exit()

    sum = add_numbers(a, b)
    print("The sum of the two numbers is", sum)

Enter first number: 5
Enter second number: 7
The sum of the two numbers is 12

In [ ]:
def output_comments():
    comments = """
    This is a multi-line comment.
    It includes at least three sentences.
    The sentences are:
    * My name is Monjur.
    * I am majoring in Finance and Economics.
    * This is my second last semester.
    """
    return comments

def main():
    comments = output_comments()
    print(comments)

if __name__ == "__main__":
    main()

    This is a multi-line comment.
    It includes at least three sentences.
    The sentences are:
    * My name is Monjur.
    * I am majoring in Finance and Economics.
    * This is my second last semester.

In [ ]:
string = "This is a 13-character string"

# Print the last 4 letters
print(string[-4:])

# Print the first 9 letters
print(string[:9])

# Print the characters in the opposite direction from 7 to 13
print(string[7:13][::-1])

ring
This is a
-31 a

In [ ]:
string = "This is a 7-character string"

# Convert all the letters into uppercase
uppercase_string = string.upper()

# Convert all the letters into lowercase
lowercase_string = string.lower()

# Remove the first letter of the string with 'L'
new_string = string[1:] + "L"

# Make the string into two words and seperate them each into two items
words = string.split(" ")
first_word = words[0]
second_word = words[1]

# Create two separate strings and assign them into a sperate string while maintaining a gap between two strings
final_string = " " + first_word + " L " + second_word

print("Original string:", string)
print("Uppercase string:", uppercase_string)
print("Lowercase string:", lowercase_string)
print("String after removing the first letter:", new_string)
print("Two words in the string:", words)
print("Final string:", final_string)

Original string: This is a 7-character string
Uppercase string: THIS IS A 7-CHARACTER STRING
Lowercase string: this is a 7-character string
String after removing the first letter: his is a 7-character stringL
Two words in the string: ['This', 'is', 'a', '7-character', 'string']
Final string:  This L is

In [ ]:
def grocery_shopping(a_1, item_name_a_1, price_a_1, total_pay_a_1, sum):
    """Prints the total amount paid for all items.

    Args:
        a_1 (int): The number of item a_1.
        item_name_a_1 (str): The name of item a_1.
        price_a_1 (float): The price of item a_1.
        total_pay_a_1 (float): The total price of item a_1.
        sum (float): The sum of all items.

    Returns:
        None.
    """

    print("I bought {} of {} numbers where each priced at {} for a total of {} price".format(
        item_name_a_1, a_1, price_a_1, total_pay_a_1))
    sum += total_pay_a_1
    print("I totally paid a total of this amount of money {} for all of my items".format(sum))

if __name__ == "__main__":
    a_1 = 3
    item_name_a_1 = "Apple"
    price_a_1 = 2.5
    total_pay_a_1 = a_1 * price_a_1
    sum = 0

    grocery_shopping(a_1, item_name_a_1, price_a_1, total_pay_a_1, sum)

I bought Apple of 3 numbers where each priced at 2.5 for a total of 7.5 price
I totally paid a total of this amount of money 7.5 for all of my items

In [ ]:
def calculate_operations(var_1, var_2):
    """Performs the following operations on var_1 and var_2:

    * If var_1 > var_2, divides them.
    * If var_1 < var_2, finds their reminder.
    * If var_1 == var_2, multiplies them.

    Args:
        var_1 (int): The first variable.
        var_2 (int): The second variable.

    Returns:
        int or float: The result of the operation.
    """

    if var_1 > var_2:
        return var_1 / var_2
    elif var_1 < var_2:
        return var_1 % var_2
    else:
        return var_1 * var_2

if __name__ == "__main__":
    var_1 = int(input("Enter the first number: "))
    var_2 = int(input("Enter the second number: "))

    result = calculate_operations(var_1, var_2)
    print("The result of the operation is", result)

Enter the first number: 7
Enter the second number: 12
The result of the operation is 7

In [ ]:
stationery_items = ["paper", "copies", "pen", "eraser", "pencil", "sharpener", "toner", "gums", "candy"]

# Test if Pizza is in the list or not by loop

is_pizza_in_list = False
for item in stationery_items:
    if item == "Pizza":
        is_pizza_in_list = True
        break

if is_pizza_in_list:
    print("Pizza is in the list")
else:
    print("Pizza is not in the list")

# Exchange the last item of the list with 'Printer'

last_item = stationery_items[-1]
stationery_items[-1] = "Printer"
stationery_items.append(last_item)

# Exchange paper and copies with just 'notebooks'

paper_index = stationery_items.index("paper")
copies_index = stationery_items.index("copies")
stationery_items[paper_index] = "notebooks"
stationery_items[copies_index] = "notebooks"

# Position pens as the 2nd item of the list

pen_index = stationery_items.index("pen")
stationery_items.insert(1, stationery_items.pop(pen_index))

print(stationery_items)

Pizza is not in the list
['notebooks', 'pen', 'notebooks', 'eraser', 'pencil', 'sharpener', 'toner', 'gums', 'Printer', 'candy']

In [ ]:
stationery_items = ["paper", "copies", "pen", "eraser", "pencil", "sharpener", "toner", "gums", "candy"]
new_items = ["calculator", "color pencils", "whitener", "parser"]

# Add just calculator to the previous list

stationery_items.append("calculator")

# Add the complete list with previous list in a new list

combined_list = stationery_items + new_items

# Delete the third item from the list

third_item = combined_list[2]
combined_list.remove(third_item)

# Delete the last item from the list using pop method

last_item = combined_list.pop()

# Delete the third last item from the list using pop method

third_last_item = combined_list.pop(-3)

print(stationery_items)
print(new_items)
print(combined_list)

['paper', 'copies', 'pen', 'eraser', 'pencil', 'sharpener', 'toner', 'gums', 'candy', 'calculator']
['calculator', 'color pencils', 'whitener', 'parser']
['paper', 'copies', 'eraser', 'pencil', 'sharpener', 'toner', 'gums', 'candy', 'calculator', 'color pencils', 'whitener']

In [ ]:
combined_list = ["paper", "copies", "pen", "eraser", "pencil", "sharpener", "toner", "gums", "calculator", "color pencils", "whitener"]

# Print using while loop all the items

index = 0
while index < len(combined_list):
    print(combined_list[index])
    index += 1

# Print using for loop all the items

for item in combined_list:
    print(item)

# Using list comprehension loop through the list

new_list = [item for item in combined_list if "e" in item]
print(new_list)

# Create an empty list and append all the items from the list which has letter 'e' in it using for loop

empty_list = []
for item in combined_list:
    if "e" in item:
        empty_list.append(item)
print(empty_list)

paper
copies
pen
eraser
pencil
sharpener
toner
gums
calculator
color pencils
whitener
paper
copies
pen
eraser
pencil
sharpener
toner
gums
calculator
color pencils
whitener
['paper', 'copies', 'pen', 'eraser', 'pencil', 'sharpener', 'toner', 'color pencils', 'whitener']
['paper', 'copies', 'pen', 'eraser', 'pencil', 'sharpener', 'toner', 'color pencils', 'whitener']

In [ ]:
numbers = [10, 4, 2, 9, 7, 5, 3, 8, 6]

# Sort the list in descending order

numbers.sort(reverse=True)
print("The list of numbers in descending order is:", numbers)

# Sort the list based on the average of number closeness

average = sum(numbers) / len(numbers)

def sort_by_closeness(number):
    return abs(number - average)

numbers.sort(key=sort_by_closeness)
print("The list of numbers sorted by closeness to the average is:", numbers)

The list of numbers in descending order is: [10, 9, 8, 7, 6, 5, 4, 3, 2]

TypeError: ignored

In [ ]:
food_dict = {
    "food_name": "Pizza",
    "food_type": "Italian",
    "food_taste": "Delicious",
}

# Add a new item as food_color with a value and print the list

food_dict["food_color"] = "Red"
print(food_dict)

# Add a new item as food_price and print it

food_dict["food_price"] = 10.99
print(food_dict)

# using the update method change the price for item 2

food_dict.update({"food_price": 12.99})
print(food_dict)

{'food_name': 'Pizza', 'food_type': 'Italian', 'food_taste': 'Delicious', 'food_color': 'Red'}
{'food_name': 'Pizza', 'food_type': 'Italian', 'food_taste': 'Delicious', 'food_color': 'Red', 'food_price': 10.99}
{'food_name': 'Pizza', 'food_type': 'Italian', 'food_taste': 'Delicious', 'food_color': 'Red', 'food_price': 12.99}

In [ ]:
import math

def area_of_triangle(a, b, c):
    """Calculates the area of a triangle given the three sides.

    Args:
        a (float): The length of side a.
        b (float): The length of side b.
        c (float): The length of side c.

    Returns:
        float: The area of the triangle.
    """

    s = (a + b + c) / 2
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))
    return area

if __name__ == "__main__":
    a = 3
    b = 4
    c = 5
    area = area_of_triangle(a, b, c)
    print("The area of the triangle is", area)

The area of the triangle is 6.0

In [ ]:
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

number = int(input("Enter a number: "))

if is_even(number):
    print(f"The number {number} is even")
else:
    print(f"The number {number} is odd")

Enter a number: 5
The number 5 is odd

In [ ]:
def add(number1, number2):
    return number1 + number2

def subtract(number1, number2):
    return number1 - number2

def multiply(number1, number2):
    return number1 * number2

def divide(number1, number2):
    return number1 / number2

def main():
    operation = input("Select operation(add, subtract, multiply, divide): ")
    number1 = int(input("Enter first number: "))
    number2 = int(input("Enter second number: "))

    if operation == "add":
        print(number1, "+", number2, "=", add(number1, number2))
    elif operation == "subtract":
        print(number1, "-", number2, "=", subtract(number1, number2))
    elif operation == "multiply":
        print(number1, "*", number2, "=", multiply(number1, number2))
    elif operation == "divide":
        print(number1, "/", number2, "=", divide(number1, number2))
    else:
        print("Invalid operation")

if __name__ == "__main__":
    main()

Select operation(add, subtract, multiply, divide): add
Enter first number: 5
Enter second number: 7
5 + 7 = 12

In [ ]:
def compound_interest(principal, interest_rate, number_of_years):
    accumulated_amount = principal * (1 + interest_rate) ** number_of_years
    return accumulated_amount

def main():
    principal = int(input("Enter the principal amount: "))
    interest_rate = float(input("Enter the interest rate: "))
    number_of_years = int(input("Enter the number of years: "))

    accumulated_amount = compound_interest(principal, interest_rate, number_of_years)
    print("The accumulated amount is", accumulated_amount)

if __name__ == "__main__":
    main()

Enter the principal amount: 1000
Enter the interest rate: .10
Enter the number of years: 5
The accumulated amount is 1610.5100000000004

In [ ]:
a = "Rohim is a good boy."
b = "He reads in class 9."
c = "He is first in school"

print(a + b + c)

Rohim is a good boy.He reads in class 9.He is first in school